#page-room {
  height: 100vh;

  &.dark {
    background: #202124;

    .room-title {
      h1{
        color: #e8eaed;
      }
      span {
        background: #81318b;
        color: #FFF;
      }
    }

    .user-info span {
      color: #e8eaed !important;  
    }
  }

  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    &.dark {
      background: #303134;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
      border-bottom: none;
    }

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-link svg {
        max-height: 45px;
        padding: 0;

        &.dark {
          color: #835afd;

          path.white-in-dark {
            fill: rgb(222, 222, 222);
          }
        }
      }


      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }
      }

      .change-themes-button {
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
  
        cursor: pointer;
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;

        &:hover {
          box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
          border-color: rgba(223,225,229,0);
        }

        &:focus {
          box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
        }

        &:focus {
          outline: 0;
        }

        &.dark {
          background: #303134;
          border-color: rgba(223,225,229,0);
          color: #e8eaed;

          &:hover {
            box-shadow: 0 4px 12px rgb(23, 23, 23 );
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;
          display: flex;
          align-items: center;

          .create-room {
            margin-left: 10px;
            padding: 20px 5px;
            height: 30px;
            border-radius: 8px;
            background: #ea4335;
            color: #FFF;
            
            display: flex;
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;
        
            img {
              margin-right: 8px;
            }
        
            &:hover {
              filter: brightness(0.9);
            }
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }
}